.left-side ul li{
  writing-mode: tb-rl;
  transform: rotate(180deg);
  list-style: none;
  margin-top: 20px;
  margin-left: 0px;
}
.sidebar-arrow{
 padding: 10px 0 10px 0px;
}
/*.left-side {
	position: fixed;
}*/
.valuefont h1{
	margin-top:30%;
	font-size: 56px;
	line-height: 70px;
}
.fa-long-arrow-right{
	font-size: 20px;
}
.pageimg{
margin-top: 14%;
}
/*.back{
	background-color: #1b1726;
	width:95%;
	height:auto;
	margin-left:2.5%;
}*/

body{
	font-family: "adobe-clean",sans-serif;
}

/*.fa-linkedin{
	font-size: 2rem;
	padding: 5px;
}
.fa-facebook-square{
	font-size: 2rem;
	padding: 5px;
}
.fa-youtube-square{
	font-size: 2rem;
	padding: 5px;
}
.fa-instagram{
	font-size: 2rem;
	padding: 5px;
}
.fa-tumblr-square{
	font-size: 2rem;
		padding: 5px;
}
.fa-behance-square{
	font-size: 2rem;
	padding: 5px;
}*/
	/*@media only screen and (max-width: 768px){
		.header h6
		{
			font-size: 14px;
		}
		.fa-behance-square{
			font-size: 1rem;
		}
		.fa-tumblr-square{
			font-size: 1rem;
		}
		.fa-instagram{
			font-size: 1rem;
		}
		.fa-youtube-square{
			font-size: 1rem;
		}
		.fa-facebook-square{
			font-size: 1rem;
		}
		.fa-linkedin{
			font-size: 1rem;
		}
		.follow {
			margin-top:1rem;
		}
	}
*/
