.left-sidebar, .sidebar-logo{
  position: fixed;
  top: 14%;
  bottom: 0;
  left: 6%;
  z-index: 100;
}

.gradient-img{
  width: 91%;
  height: 500px;
}

.gradient-img{
  position: absolute;
  top: 0px;
  left: 6%;
  border: 0;
  z-index: -10;
  background-size: contain;
  background-repeat: no-repeat;
}

.left-sidebar>ul>li>a{
  transform: rotate(-90deg);
  padding: 20px 0px 50px 48px;
  color: black;
}

.left-sidebar>ul>li>a:hover{
  color: black;
  cursor: pointer;
}
.sidebar-arrow{
  transform: rotate(0deg);
  font-size: 35px;
  padding: 0px 0px 50px 35px;
}
.sidebar-logo{
  width: 4%;
  height: 8%;
  margin-left: 22px;
}

#side-arrow{
  padding: 400px 0px 0px 40px;
}

.our-services{
  padding-top: 80px;
}

.our-service-details{
  color: #54096D;
}

.our-notable{
  padding-top: 100px;
}

.our-notable-client{
  padding-top: 140px;
}

.team-members{
  margin-top: 70px;
}
.team-member-heading{
  padding-top: 70px;
}

.team-member-text {
  padding: 220px 0px 50px 0px;
}

.team-member-text > h1 {
  font-size: 80px;
}

.bg-voilet{
  background-color: #BF00FF;
  color: white;
}

.bg-voilet:hover{
  background-color: #BF00FF;
}

#right-arrow{
  position: fixed;
  left: 9%;
  font-size: 35px;
  bottom: 25px;
}

.about-text{
  font-size: 19px;
  font-weight: bold;
}

.left-side ul li{
  writing-mode: tb-rl;
  transform: rotate(180deg);
  list-style: none;
  margin-top: 20px;
  margin-left: 0px;
}

.sidebar-arrow{
 padding: 10px 0 10px 35px;
}

.valuefont > h1{
  margin-top: 30%;
  font-size: 56px;
  line-height: 70px;
}

.portfolio-top-header h1{
  margin-top: 30%;
}

.fa-long-arrow-right{
  font-size: 20px;
}

.pageimg{
margin-top: 14%;
}

.portfolio-pageimg{
  margin-top: 1%;
}
.aboutus-possibility{
  margin-top: 15%;
}
.port-cards{
  position: relative;
}
.bg-card-img{
  position: absolute;
  z-index: -1;
  top: 160rem;
}
.portfolio-card-btn{
  background-color: #BF00FF;
}
.card-margin{
  margin-top: -120px;
}
.image-card > .card{
  width: 45rem;
  border-radius: 25px;
  border: none;
  height: 22rem;
}
.blog-image{
  position: relative;
}

.top-image-card > .card{
  border-radius: 20px;
  height: 300px;
}

/*.top-image-card, .card-body {
  width: 80%;
}*/

.top-image-card{
  position: absolute;
  top: 272px;
  width: 50%;
  right: 51px;
  }

.image-card, .blog-card-sub-title {
  font-size: 34px;
  padding-top: 10px;
}
.image-card, .blog-card-txt{
  font-size: 14px;
  padding-top: 12px;
}

.image-card{
  position: absolute;
  right: 80px;
  top: 110px;
}

.posts-image{
  position: relative;
}

.blog-card{
  position: relative;
  bottom: 140px;
  left: 18px;
}

.card-avatar {
  width: 30px;
}

.blog-card{
  border-radius: 15px;
  border: none;
  width: 27rem;
}

.blog-card-button{
  position: absolute;
  bottom: 10px;
  width: 75%;
  left: 30%;
}

.blog-card-image{
  position: relative;
  z-index: -1;
  bottom: 403px;
}
  .blog-posts-cards {
    margin-top: 140px;
  }

@media only screen and (min-width: 320px) and (max-width: 374px){
  .valuefont {
    text-align: center;
    margin-top: 0px;
  }
  .valuefont > h1 {
    font-size: 30px;
    line-height: 35px;
    margin-top: 1px;
  }  
  .valuefont > p {
    font-size: 12px;
  }
  .pageimg > img {
    width: 100%;
    height: 80%;
  }
  .about-app{
    text-align: center;
  }
  .team-member-text {
    padding: 60px 0px 50px 10px;
  }
  .team-member-text > h1 {
    margin-top: 20%;
    font-size: 30px;
  }
  .right-side-arrow{
    position: fixed;
    right: 3%;
    font-size: 35px;
    bottom: 25px;
  }
  .gradient-img{
    display: none;
  }

  .our-notable{
    padding-top: 0px;
  }

  .our-notable-client{
    padding-top: 40px;
  }

  .team-members{
    padding-top: 40px;
  }

  .portfolio-top-header h1{
    margin-top: 16%;
    text-align: center;
  }

  .card-margin{
    margin-top: -200px;
  }

  .image-card > .card{
    width: 17.5rem;
    border-radius: 25px;
    border: none;
    height: 19rem;
  }

  .blog-image{
    position: relative;
  }
  .top-image-card > .card{
    border-radius: 20px;
    height: 270px;
  }

  .top-image-card{
    text-align: center;
  }

  .top-image-card{
    position: absolute;
    top: 290px;
    width: 95%;
    right: 8px;
  }

  .image-card{
    margin-top: 55px;
    position: absolute;
    right: 20px;
    top: 60px;
  }
  .image-card > .card {
    text-align: center;
  }  
  .image-card, .blog-card-sub-title {
    font-size: 14px;
    padding-top: 10px;
  }
  .image-card, .blog-card-txt{
    padding-top: 12px;
  }
  .posts-image{
    position: relative;
  }
  .blog-card > .card-body {
    padding: 0px;
  }

  .blog-card{
    position: relative;
    bottom: 140px;
    left: 4px;
  }

  .blog-card{
    border-radius: 15px;
    border: none;
    width: 18rem;
  }
  .card-avatar {
    width: 60px;
  }
  .blog-card{
    margin-top: 150px;
  }
  .posts-image{
    margin-top: 10px;
  }
  .blog-card , .card-title {
    font-size: 18px;
    padding-top: 10px;
  }
  .blog-card-button{
    position: absolute;
    bottom: -50px;
    width: 75%;
    left: -15px;
  }
  .blog-card-buttom-btn, .blog-card-image{
    display: none;
  }
  .blog-posts-cards {
    margin-top: 315px;
  }
  .blog-detail-card > .card-body {
    padding: 0px;
  }
  .blog-detail-card-title{
    font-size: 14px !important;
  }
  .blog-detail-card{
    border: 5px solid green;
    margin-top: 100px;
    left: 0;
    right: 0;
  }
  .blog-posts-image{
    margin-top: 0;
  }
  .portfolio-detail-header-img{
    position: relative;
  }
  .portfolio-detail-card{
    border: none;
    border-radius: 15px;
    position: absolute;
    top: 0px;
  }
  .portfolio-detail-card > .card-body {
    padding: 0px;
  }
  .portfolio-detail-bg-img{
    display: none;
  }
}

@media only screen and (min-width: 375px) and (max-width: 424px){
  .valuefont {
    text-align: center;
  }
  .valuefont > h1 {
    font-size: 35px;
  }  
  .valuefont > p {
    font-size: 12px;
  }
  .pageimg > img {
    width: 100%;
    height: 80%;
  }
  .about-app{
    text-align: center;
  }
  .team-member-text {
    padding: 60px 0px 50px 10px;
  }
  .team-member-text > h1 {
    font-size: 35px;
  }
  .gradient-img{
    display: none;
  }

  .our-notable{
    padding-top: 100px;
  }

  .our-notable-client{
    padding-top: 140px;
  }
  .portfolio-top-header h1{
    margin-top: 30%;
    text-align: center;
  }

  .image-card > .card{
    width: 21rem;
    border-radius: 25px;
    border: none;
    height: 18rem;
  }

  .blog-image{
    position: relative;
  }

  .top-image-card > .card{
    border-radius: 20px;
    height: 270px;
  }

  .top-image-card{
    text-align: center;
  }

  .top-image-card{
    position: absolute;
    top: 224px;
    width: 95%;
    right: 8px;
  }

  .image-card{
    position: absolute;
    right: 20px;
    top: 60px;
  }
  .image-card > .card {
    text-align: center;
  }  
  .image-card, .blog-card-sub-title {
    font-size: 14px;
    padding-top: 10px;
  }
  .image-card, .blog-card-txt{
    padding-top: 12px;
  }

  .card-margin{
    margin-top: -190px;
  }

  .image-card > .card{
    width: 120rem;
    border-radius: 25px;
    border: none;
    height: 19rem;
  }

  .blog-card-title{
    margin-left: 15px;
  }

  .blog-image{
    position: relative;
  }
  .image-card{
    margin-top: 55px;
    position: absolute;
    right: 20px;
    top: 60px;
  }
  .image-card > .card {
    text-align: center;
  }  
  .image-card, .blog-card-sub-title {
    font-size: 14px;
    padding-top: 10px;
  }
  .image-card, .blog-card-txt{
    padding-top: 12px;
  }
  .posts-image{
    position: relative;
  }

  .blog-card{
    position: relative;
    bottom: 140px;
    left: 4px;
  }

  .blog-card{
    border-radius: 15px;
    border: none;
    width: 22rem;
  }
  .blog-card > .card-body {
    padding: 0px;
  }
  .card-avatar {
    width: 60px;
  }
  .blog-card{
    margin-top: 150px;
  }
  .blog-image-mobile{
    margin-top: 10px;
  }
  .posts-image{
    margin-top: 100px;
  }
  .blog-card , .card-title {
    font-size: 18px;
    padding-top: 10px;
  }
  .blog-posts-cards {
    margin-top: 315px;
  }

  .blog-card-button{
    position: absolute;
    bottom: -20px;
    width: 75%;
    left: -3%;
  }
  .blog-detail-card > .card-body {
    padding: 0px;
  }
  .blog-detail-card-title{
    font-size: 14px !important;
  }
  .blog-detail-card{
    border: 5px solid green;
    margin-top: 100px;
    left: 0;
    right: 0;
  }
  .blog-posts-image{
    margin-top: 0;
  }
  .blog-details-card-bottom-btn{
    display: none;
  }
  .portfolio-detail-header-img{
    position: relative;
  }
  .portfolio-detail-card{
    border: none;
    border-radius: 15px;
    position: absolute;
    top: 10px;
  }
  .portfolio-detail-card > .card-body {
    padding: 0px;
  }
  .portfolio-detail-bg-img{
    display: none;
  }

}

@media only screen and (min-width: 425px) and (max-width: 767px){
  .valuefont {
    text-align: center;
  }
  .valuefont > h1 {
    font-size: 40px;
  }  
  .valuefont > p {
    font-size: 12px;
  }
  .pageimg > img {
    width: 100%;
    height: 80%;
  }
  .about-app{
    text-align: center;
  }
  .team-member-text {
    padding: 60px 0px 50px 10px;
  }
  .team-member-text > h1 {
    font-size: 30px;
  }
  .gradient-img{
    display: none;
  }

  .our-notable{
    padding-top: 100px;
  }

  .our-notable-client{
    padding-top: 140px;
  }
  .portfolio-top-header h1{
    margin-top: 30%;
    text-align: center;
  }

  .image-card > .card{
    width: 24rem;
    border-radius: 25px;
    border: none;
    height: 17rem;
  }

  .blog-image{
    position: relative;
  }

  .top-image-card > .card{
    border-radius: 20px;
    height: 270px;
  }

  .top-image-card{
    text-align: center;
  }

  .top-image-card{
    position: absolute;
    top: 250px;
    width: 95%;
    right: 8px;
  }

  .image-card{
    position: absolute;
    right: 20px;
    top: 60px;
  }
  .image-card > .card {
    text-align: center;
  }  
  .image-card, .blog-card-sub-title {
    font-size: 14px;
    padding-top: 10px;
  }
  .image-card, .blog-card-txt{
    padding-top: 12px;
  }


  .card-margin{
    margin-top: -190px;
  }

  .image-card > .card{
    width: 120rem;
    border-radius: 25px;
    border: none;
    height: 19rem;
  }

  .blog-image{
    position: relative;
  }
  .image-card{
    margin-top: 55px;
    position: absolute;
    right: 20px;
    top: 60px;
  }
  .image-card > .card {
    text-align: center;
  }  
  .image-card, .blog-card-sub-title {
    font-size: 14px;
    padding-top: 10px;
  }
  .image-card, .blog-card-txt{
    padding-top: 12px;
  }
  .posts-image{
    position: relative;
  }
  .blog-card-title{
    margin-top: 170px;
    margin-left: 15px;
  }
  .blog-card{
    position: relative;
    bottom: 140px;
    left: 4px;
  }

  .blog-card{
    border-radius: 15px;
    border: none;
    width: 22rem;
  }
  .card-avatar {
    width: 60px;
  }
  .blog-card{
    margin-top: 150px;
  }
  .posts-image{
    margin-top: 100px;
  }
  .blog-card , .card-title {
    font-size: 18px;
    padding-top: 10px;
  }

  .blog-card-button{
    position: absolute;
    bottom: -20px;
    width: 75%;
    left: -3%;
  }
  .blog-card > .card-body {
    padding: 0px;
  }
  .blog-detail-card > .card-body {
    padding: 0px;
  }
  .blog-detail-card-title{
    font-size: 14px !important;
  }
  .blog-detail-card{
    border: 5px solid green;
    margin-top: 100px;
    left: 0;
    right: 0;
  }
  .blog-posts-image{
    margin-top: 0;
  }
  .blog-details-card-bottom-btn{
    display: none;
  }
  .portfolio-detail-header-img{
    position: relative;
  }
  .portfolio-detail-card{
    border: none;
    border-radius: 15px;
    position: absolute;
    top: 10px;
  }
  .portfolio-detail-card > .card-body {
    padding: 0px;
  }
  .portfolio-detail-bg-img{
    display: none;
  }

}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .valuefont {
    text-align: center;
  }
  .valuefont h1{
    margin-top:30%;
    font-size: 56px;
    line-height: 70px;
  }
  .valuefont > p {
    font-size: 12px;
  }
  .pageimg > img {
    width: 100%;
    height: 100%;
    margin-left: 25px;
    margin-top: 30px;
  }
  .left-sidebar>ul>li>a, .sidebar-arrow{
    display: none; 
  }
  .about-app{
    text-align: center;
  }
  .team-member-text {
    padding: 130px 0px 50px 10px;
  }
  .team-member-text > h1 {
    font-size: 30px;
  }
  #side-Logo{
    display: none !important;
  }
  .gradient-img{
    display: none;
  }

  .our-notable{
    padding-top: 100px;
  }

  .our-notable-client{
    padding-top: 140px;
  }
  .portfolio-top-header h1{
    margin-top: 30%;
    text-align: center;
  }

  .image-card > .card{
    width: 34.8rem;
    border-radius: 25px;
    border: none;
    height: 15rem;
  }

  .blog-image{
    position: relative;
  }

  .top-image-card > .card{
    border-radius: 20px;
    height: 270px;
  }

  .top-image-card{
    text-align: center;
  }

  .top-image-card{
    position: absolute;
    top: 339px;
    width: 75%;
    right: 96px;
  }
  .image-card{
    position: absolute;
    right: 105px;
    top: 120px;
  }
  .image-card > .card {
    text-align: center;
  }  
  .image-card, .blog-card-sub-title {
    font-size: 14px;
    padding-top: 10px;
  }
  .image-card, .blog-card-txt{
    padding-top: 12px;
  }
  .card-margin{
    margin-top: -190px;
  }

  .image-card > .card{
    width: 120rem;
    border-radius: 25px;
    border: none;
    height: 19rem;
  }
  .blog-second-card{
    margin-top: 0px !important;
  }
  .blog-card-title{
    margin-top: 170px;
    margin-left: 14px;
  }

  .blog-image{
    position: relative;
  }
  .image-card{
    margin-top: 55px;
    position: absolute;
    right: 20px;
    top: 60px;
  }
  .image-card > .card {
    text-align: center;
  }  
  .image-card, .blog-card-sub-title {
    font-size: 14px;
    padding-top: 10px;
  }
  .image-card, .blog-card-txt{
    padding-top: 12px;
  }
  .posts-image{
    position: relative;
  }

  .blog-card{
    position: relative;
    bottom: 140px;
    left: 4px;
  }

  .blog-card{
    text-align: center;
    border-radius: 15px;
    border: none;
    width: 16rem;
  }
  .card-avatar {
    width: 40px;
  }
  .blog-card{
    margin-top: 150px;
  }
  .posts-image{
    margin-top: 100px;
  }
  .blog-card , .card-title {
    font-size: 10px;
    padding-top: 10px;
  }

  .blog-card-button{
    position: absolute;
    bottom: -20px;
    width: 75%;
    left: 10%;
  }
  .blog-card-button > a {
    font-size: 12px;
  }

  .blog-detail-header-image{
    position: relative;
  }
  .blog-detail-card{
    position: relative;
    bottom: 75px;
    left: 0;
    right: 0;
  }
  .blog-details-card-bottom-btn{
    margin-top: -150px;
  }
  .blog-details-card-bg-image{
    position: relative;
    bottom: 15px;
    z-index: -1;
    bottom: 292px !important;
  }
  .blog-card-image {
    bottom: 235px;
  }
  .portfolio-detail-header-img{
    position: relative;
  }
  .portfolio-detail-card{
    border: none;
    border-radius: 15px;
    position: relative;
    bottom: 50px !important;
  }
  .portfolio-detail-bg-img{
    position: relative;
    z-index: -1;
    bottom: 150px !important;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1023px){
  .valuefont {
    text-align: center;
  }
  .valuefont > h1 {
    font-size: 40px;
  }  
  .valuefont > p {
    font-size: 12px;
  }
  .pageimg > img {
    width: 100%;
    height: 90%;
  }
  .left-sidebar>ul>li>a, .sidebar-arrow{
    display: none; 
  }
  .gradient-img{
    display: none;
  }

  .our-notable{
    padding-top: 100px;
  }

  .our-notable-client{
    padding-top: 140px;
  }
  .portfolio-top-header h1{
    margin-top: 30%;
    text-align: center;
  }

  .image-card > .card{
    width: 34.8rem;
    border-radius: 25px;
    border: none;
    height: 18rem;
  }

  .blog-image{
    position: relative;
  }
  .image-card{
    position: absolute;
    right: 85px;
    top: 120px;
  }
  .image-card > .card {
    text-align: center;
  }  
  .image-card, .blog-card-sub-title {
    font-size: 14px;
    padding-top: 10px;
  }
  .image-card, .blog-card-txt{
    padding-top: 12px;
  }


}

@media only screen and (min-width: 1024px) and (max-width: 1339px){
  .image-card > .card{
    width: 36rem;
    border-radius: 25px;
    border: none;
    height: 20rem;
  }

  .blog-image{
    position: relative;
  }
  .image-card{
    position: absolute;
    right: 136px;
    top: 90px;
  }
  .image-card > .card-body {
    width: 34.5rem;
  }
  .image-card, .blog-card-sub-title {
    font-size: 29px;
    padding-top: 10px;
  }
  .image-card, .blog-card-txt{
    padding-top: 12px;
    font-size: 14px;
  }
  .blog-card{
    border-radius: 15px;
    border: none;
    width: 26rem;
  }
  .blog-header-section{
    margin-top: 70px;
  }


}
@media only screen and (min-width: 1440px) and (max-width: 1550px){
  .portfolio-top-header h1{
    margin-top: 30%;
  }
  .blog-image{
    position: relative;
  }
  .image-card{
    position: absolute;
    right: 136px;
    top: 90px;
  }
  .image-card > .card-body {
    width: 34.5rem;
  }
  .image-card, .blog-card-sub-title {
    font-size: 29px;
    padding-top: 10px;
  }
  .image-card, .blog-card-txt{
    padding-top: 12px;
    font-size: 14px;
  }
  .blog-card{
    border-radius: 15px;
    border: none;
    width: 26rem;
  }
  .portfolio-detail-header-img{
    position: relative;
  }
  .portfolio-detail-card{
    border: none;
    border-radius: 15px;
    position: relative;
    bottom: 90px !important;
  }
  .portfolio-detail-bg-img{
    position: relative;
    z-index: -1;
    bottom: 150px !important;
  }
  .blog-header-section{
    margin-top: 100px;
  }

}

@media only screen and (max-width: 768px){
  .left-sidebar{
    display: none; 
  }
}

/* Common css for btn */
.button-hover{
  color: black;
}
.button-hover:hover {
  background-color: #BF00FF;
  color: white;
  border: none;
  padding-left: 20px;
  outline: none;
}
.button-hover:visisted{
  border-color: #BF00FF;
}

.button-hover:hover > i {
  visibility: hidden;
  display: none;
  border: none;
  outline: none;
}    

.button-hover:hover > .button-text {  
  padding-left: 13px;
  padding-right: 20px;
}
.bg-dark-button{
  color: white;
}

/* Common Heading Selected Text */
.heading-text{
  color: #BF00FF;
}
.valuefont > h6 {
  font-size: 0.9rem !important;
}
.team-img{
 position: relative;
 /*bottom: 321px;*/
 top: -323px;
 z-index: -1;
}

.blog-detail-card{
  border: none;
  border-radius: 15px;
  box-shadow: white;
}
.blog-detail-avatar{
  width: 55px;
  height: 55px;
}
.blog-detail-card-title{
  font-size: 35px;
}
.blog-detail-bg-image{
  position: relative;
  z-index: -1;
  top: 1400px;
  border: 0;
}
.blog-detail-header-image{
  position: relative;
}
.blog-detail-card{
  position: relative;
  bottom: 75px;
  left: 0;
  right: 0;
}
.blog-details-card-bottom-btn{
  margin-top: -150px;
}
.blog-details-card-bg-image{
  position: relative;
  bottom: 15px;
  z-index: -1;
  bottom: 400px;
}
.blog-social-li-icon{
  background: #0077B5;
}
.blog-social-fb-icon{
  background: #4267B2;
}
.portfolio-detail-header-img{
  position: relative;
}
.portfolio-detail-card{
  border: none;
  border-radius: 15px;
  position: relative;
  bottom: 78px;
}
.portfolio-detail-bg-img{
  position: relative;
  z-index: -1;
  bottom: 270px;
}
.our-service-logo{
  height: 4rem
}
