.left-sidebar>ul>li>a{
  transform: rotate(-90deg);
  padding: 20px 0px 50px 0px;
  color: black;
}
.left-sidebar>ul>li>a:hover{
  color: black;
  cursor: pointer;
}
.sidebar-arrow{
  transform: rotate(0deg);
  font-size: 35px;
  padding: 30px 0px 50px 10px;
}


@media only screen and (max-width: 768px){
  .left-sidebar{
    display: none; 
  }
}