.left-sidebar>ul>li>a{
  transform: rotate(-90deg);
  padding: 20px 0px 50px 0px;
  color: black;
}
.left-sidebar>ul>li>a:hover{
  color: black;
  cursor: pointer;
}
.sidebar-arrow{
  transform: rotate(0deg);
  font-size: 35px;
  padding: 30px 0px 50px 10px;
}


@media only screen and (max-width: 768px){
  .left-sidebar{
    display: none; 
  }
}



.left-side ul li{
  writing-mode: tb-rl;
  transform: rotate(180deg);
  list-style: none;
  margin-top: 20px;
  margin-left: 0px;
}
.sidebar-arrow{
 padding: 10px 0 10px 0px;
}
/*.left-side {
  position: fixed;
}*/
.valuefont h1{
  margin-top:30%;
  font-size: 56px;
}
.fa-long-arrow-right{
  font-size: 20px;
}
.pageimg{
margin-top: 14%;
}
/*.back{
  background-color: #1b1726;
  width:95%;
  height:auto;
  margin-left:2.5%;
}*/

body{
  font-family: "adobe-clean",sans-serif;
}

/*.fa-linkedin{
  font-size: 2rem;
  padding: 5px;
}
.fa-facebook-square{
  font-size: 2rem;
  padding: 5px;
}
.fa-youtube-square{
  font-size: 2rem;
  padding: 5px;
}
.fa-instagram{
  font-size: 2rem;
  padding: 5px;
}
.fa-tumblr-square{
  font-size: 2rem;
    padding: 5px;
}
.fa-behance-square{
  font-size: 2rem;
  padding: 5px;
}*/
  /*@media only screen and (max-width: 768px){
    .header h6
    {
      font-size: 14px;
    }
    .fa-behance-square{
      font-size: 1rem;
    }
    .fa-tumblr-square{
      font-size: 1rem;
    }
    .fa-instagram{
      font-size: 1rem;
    }
    .fa-youtube-square{
      font-size: 1rem;
    }
    .fa-facebook-square{
      font-size: 1rem;
    }
    .fa-linkedin{
      font-size: 1rem;
    }
    .follow {
      margin-top:1rem;
    }
  }
*/



/* Content.css  */
/* devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5Z11lFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5Z1JlFd2JQEl8qw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5Z1xlFd2JQEk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.left-sidebar, .sidebar-logo{
  position: fixed;
  top: 14%;
  bottom: 0;
  left: 6%;
  z-index: 100;
}

.left-sidebar>ul>li>a{
  transform: rotate(-90deg);
  padding: 20px 0px 50px 54px;
  color: black;
}

.left-sidebar>ul>li>a:hover{
  color: black;
  cursor: pointer;
}
.sidebar-arrow{
  transform: rotate(0deg);
  font-size: 35px;
  padding: 0px 0px 50px 35px;
}
.sidebar-logo{
  width: 4%;
  height: 7%;
  margin-left: 22px;
}

#side-arrow{
  padding: 400px 0px 0px 40px;
}

.our-service-details{
  color: #54096D;
}

@media only screen and (min-width: 320px) and (max-width: 374px){
  .valuefont {
    text-align: center;
  }
  .valuefont > h1 {
    font-size: 30px;
  }  
  .valuefont > p {
    font-size: 12px;
  }
  .pageimg > img {
    width: 100%;
    height: 80%;
  }
  .about-app{
    text-align: center;
  }
  .team-member-text{
    text-align: center;
  }
  .team-member-text > h1 {
    font-size: 35px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 424px){
  .valuefont {
    text-align: center;
  }
  .valuefont > h1 {
    font-size: 35px;
  }  
  .valuefont > p {
    font-size: 12px;
  }
  .pageimg > img {
    width: 100%;
    height: 80%;
  }
  .about-app{
    text-align: center;
  }
  .team-member-text{
    text-align: center;
  }
  .team-member-text > h1 {
    font-size: 35px;
  }
}
@media only screen and (min-width: 425px) and (max-width: 767px){
  .valuefont {
    text-align: center;
  }
  .valuefont > h1 {
    font-size: 40px;
  }  
  .valuefont > p {
    font-size: 12px;
  }
  .pageimg > img {
    width: 100%;
    height: 80%;
  }
  .about-app{
    text-align: center;
  }
  .team-member-text{
    text-align: center;
  }
  .team-member-text > h1 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
  .valuefont {
    text-align: center;
  }
  .valuefont > h1 {
    font-size: 50px;
  }  
  .valuefont > p {
    font-size: 12px;
  }
  .pageimg > img {
    width: 100%;
    height: 90%;
  }
  .left-sidebar>ul>li>a, .sidebar-arrow{
    display: none; 
  }
  .about-app{
    text-align: center;
  }
  .team-member-text{
    text-align: center;
  }
  .team-member-text > h1 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1023px){
  .valuefont {
    text-align: center;
  }
  .valuefont > h1 {
    font-size: 40px;
  }  
  .valuefont > p {
    font-size: 12px;
  }
  .pageimg > img {
    width: 100%;
    height: 90%;
  }
  .left-sidebar>ul>li>a, .sidebar-arrow{
    display: none; 
  }
}

/*@media only screen and (min-width: 1024px) and (max-width: 1339px){
  .valuefont {
    text-align: center;
  }
  .valuefont > h1 {
    font-size: 40px;
  }  
  .valuefont > p {
    font-size: 12px;
  }
  .pageimg > img {
    width: 100%;
    height: 90%;
  }

}*/
@media only screen and (min-width: 1440px) and (max-width: 1550px){}

@media only screen and (max-width: 768px){
  .left-sidebar{
    display: none; 
  }
}
